* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: "Hiragino Kaku Gothic ProN";;
}

/* ヘッダー */
header {
	position :fixed; /* 固定 */
	top: 0;
	width: 100%;
	z-index: 10;
	padding: 0px, 15px;

	display: flex;

	background-color: rgba(34,49,52,0.9);
}

.logo {
	font-size: 25px;
}

nav {
	margin: 0 0 0 auto;
}
.pc ul {
	display: flex;
	list-style: none; /* 箇条書きの点を取る */
	padding: 0;
	margin: 0;
}
.pc a {
	color:#ffffff;
	text-decoration: none;
	display: block;
	line-height: 60px;
	padding: 0 20px;
}

/*↓↓パソコン用↓↓*/
.sm{
	display: none; /*pc用を全消し*/
}
/* ↑パソコン用 */

/* ↓スマホ用 */
@media (max-width: 600px) {
	.pc{
		display: none; /*pc用を全消し*/
	}

	#hamburger {
		background-color: transparent;  /*透明の背景*/
		position: relative;             /*ハンバーガーの横線の位置を決めるための基準*/
		cursor: pointer;                /*リンクを示すカーソルを表示（指差しマーク）*/
		margin: 0 0 0 auto;             /*左側に余白を作り、ハンバーガーメニューを右端に配置*/
		height: 60px;                   /*ヘッダーの高さと同じ60px*/
		width: 60px;                    /*高さと同じ幅*/
	}

	.icon span {
		position: absolute;       /*親要素である#hamburgerを基準に位置を指定*/
		left: 15px;               /*#hamburger内の左がら15pxに横線を配置（幅が60pxなので右からも15px）*/
		width: 30px;              /*横線の幅が30px*/
		height: 4px;              /*横線の高さが4px*/
		background-color: white;  /*横線を白色*/
		border-radius: 8px;       /*横線の両端の角に丸みを持たせる*/
		transition: ease 0.75s;   /*変化の時間（easeは初期値）*/
	}

	.icon span:nth-of-type(1) {
		top: 16px;
	}
	.icon span:nth-of-type(2) {
		top: 28px;
	}
	.icon span:nth-of-type(3) {
		bottom: 16px;
	}

	.close span:nth-of-type(1) {
		transform: rotate(45deg); /*反時計回りに45度回転*/
		top: 28px;
	}
	.close span:nth-of-type(2) {
		opacity: 0;
	}	
	.close span:nth-of-type(3) {
		  transform: rotate(-45deg); /*時計回りに45度回転*/
		  top: 28px;
	}

	.sm {
		top: 60px;  /*headerの余白分*/
		left: 0px;  /*headerの余白分　ヘッダーには左右に15px余白があるので、headerの子要素となる.smは15px分内側に設置されます。その余白を埋めるために左に寄せる。*/
		position: absolute; /*絶対配置　top　leftからの位置を絶対配置する*/
		z-index: 10;
		width: 100%;
		background-color: rgba(34, 49, 52, 0.9);
	}

	.sm ul {
		flex-direction: column;	/*ulのflexboxを縦並びにする*/  
	}

	.sm a {
		text-align: center;	/*メニューリストの文字を中央寄せ*/
		border-top: solid 0.5px rgba(255, 255, 255, 0.6);	/*リストの境目に白線 */
	}
}
/* ↑スマホ用 */

/* ホーム画像 */
.container {
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

img {
	width: 100%;
	height: auto;
	max-width: 2560px;
	max-height: 1440px;
}

.article {
	height: 580px;
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #f7f7f7;
	text-align: center;
}
.heading {
	color: #5f5d60;
}
.heading h2 {
	font-weight: normal;
}
.heading a {
	font-weight: normal;
	color:rgba(34,49,52,0.9);
}

footer {
	padding-top: 30px;
	padding-bottom: 20px;
}
footer p {
	color: #b3aeb5;
	font-size: 12px;
}
  